<div class="cover align-middle">
  <% if user_signed_in? %>
  <h2> 現在 <%= current_user.name %> さんがログインしています </h2> 
  <h4> メールアドレス： <%= current_user.email %> </h4>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %> 
  <%= link_to '投稿一覧ページへ', posts_path %>
  <%= link_to '画像を投稿', new_post_path,method: :get %>
  <% else %>
  <h2> 現在ログインしていません </h2>
  <%= link_to "ログイン", new_user_session_path, class: 'post' %> 
  <%= link_to "新規登録", new_user_registration_path, class: 'post' %> 
  <% end %>
  <div class="btn-group">
    <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Action
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
  </div>

  <div class="text-center">
    <p class="sub-title">〜旅行の思い出を共有する〜</p>
    <h1 class="title mb-2">Traveler</h1>
    <h2 class="btn btn-primary mr-2">新規登録</h2>
    <h2 class="btn btn-success ml-2">ログイン</h2>
  </div>
</div>
