<h2>撮影場所</h2>
<p><%= @post.location %></p>
<h2>感じたこと</h2>
<p><%= @post.text %></p>

<% if @post.post_image? %>  <!-- アップロード画像がある場合に実行する -->
  <p>
    <strong>投稿画像:</strong>
    <%= image_tag @post.post_image.url, :size => '600x450' %>
  </p>
<% end %>

<%= link_to '編集する', edit_post_path(@post.id) %><br>
<%= link_to '削除',post_path(@post.id),
    data: { turbo_method: 'delete', turbo_confirm: '投稿を削除しますか？' } %>
<%= link_to '投稿一覧ページへ', posts_path %>
